/* Styles for just the annotation/note-taking interface */

#student-notes-interface #app {
  /* min-width: 700px; */
  min-width: 1200px;
  width: 97vw;
  max-width: 1800px;
  padding-top: 0px;
}

#student-notes-interface .parent-container {
  display: grid;
  grid-template-columns: [code-start] 49% [gutter-start] 1% [notes-start] 50% [notes-end];
  grid-template-rows: [toolbar-start] 40px [code-start] auto [output-start] 220px [output-end];
  grid-template-areas:
    "code-tabs gutter notes-display"
    "code-display gutter notes-display"
    "code-output gutter notes-display";

  min-width: 800px;
  width: 100%;

  /* border-radius: 15px; */
}

#code-tabs {
  /* Optional: just to make sure grid-area names don't become out of sync w/ other UIs */
  grid-area: code-tabs;
}

#student-notes-interface .code-container {
  /* Optional: just to make sure grid-area names don't become out of sync w/ other UIs */
  grid-area: code-display;
}

#student-notes-interface #output-container {
  /* Optional: just to make sure grid-area names don't become out of sync w/ other UIs */
  grid-area: code-output;
}

#notes-container {
  grid-area: notes-display;
  display: grid;
  align-content: start;
  overflow-y: auto;
  border: solid 1px lightgrey;
  border-radius: 15px;
}

#notes-document {
  min-height: 450px;
  /* height: 600px; */
  /* height: 90%; */
  width: 100%;
  /* height: auto; */
  overflow-y: auto;
  font-size: medium;
  border: 0px;
}

.ql-toolbar {
  border-width: 0px 0px 2px 0px !important;
  /* border-color: lightgrey !important; */
  border-color: rgb(206, 206, 206) !important;
  height: 50px;
  /* border-radius: 5px; */
  /* border-color: lightgrey !important; */
  /* border-width: 3px !important; */
  box-sizing: border-box;
}

.parent-container {
  position: relative;
}

.try-it-out {
  background-color: #d3d3ff;
  color: #800080;
  font-weight: bold;
}

.code-container button {
  border-radius: 5px;
  font-size: 0.7em;

  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 999;
  opacity: 95%;
}

@keyframes flash-tab-change {
  from {
    background-color: #d3d3ff;
  }
  /* from {background-color: black;} */
  to {
    background-color: white;
  }
}

.just-changed-tab {
  animation-name: flash-tab-change;
  animation-duration: 1.2s;
}

@keyframes flash-instructor-tab {
  from {
    background-color: #d3d3ff;
  }
  to {
    /* border-color: lightgrey; */
    background-color: rgb(244, 244, 244);
  }
}

.blink-tab {
  animation-name: flash-instructor-tab;
  animation-duration: 0.8s;
}

.uneditable {
  background-color: #f5f5f9;
}

.code-snapshot {
  border: solid 3px lightgrey;
  border-radius: 5px;
  background-color: #ececec;
  margin-top: 10px;
  margin-bottom: 10px;
}

.code-snapshot.selected {
  border: solid 3px purple;
}

.code-snippet-container {
  font-size: medium;
  /* transition: max-height 0.1s ease-in;
  max-height: 800px; */
  transition: max-height 0.3s ease-out;
  max-height: 400px;
  overflow-y: auto;
}

.code-snippet-container.collapsed {
  /* height: 60px; */
  /* transition: max-height 0.5s ease-out;
  transition-timing-function: linear; */
  transition: max-height 0.2s ease-out;
  max-height: 60px;
  /* max-height: 60px; */
  overflow-y: auto;
}

.collapsed .code-snippet-container {
  /* max-height: 60px; */
  height: 60px;
  overflow-y: auto;
}

.code-snapshot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
}

.code-snapshot-header .collapse-button {
  width: 120px;
}

.code-snapshot-header .file-info {
  font-size: medium;
  font-weight: bold;
  font-family: "Courier New", monospace;
}

.code-snapshot-header button {
  height: 80%;
  font-size: x-small;
}
