.code-typing-interface .parent-container {
  grid-template-rows: [toolbar] 40px [code] auto;
  grid-template-areas:
    "code-tabs"
    "code-display";
}

#student-notes-interface .parent-container {
  display: grid;
  grid-template-columns: [code-start] 49% [gutter-start] 1% [notes-start] 50% [notes-end];
  /* grid-template-rows: [toolbar] 40px [code] auto [console] min-content [end-row]; */
  grid-template-rows: [toolbar] 40px [code] auto;
  grid-template-areas:
    "code-tabs gutter notes-display"
    "code-display gutter notes-display";
}
